<!-- Conteudo da pagina home -->
<app-header></app-header>
<main role="main" class="container links">
  <div class="container d-flex">
    <a routerLink="/login" routerLinkActive="selected">Login</a><br />
    <a routerLink="/signup" routerLinkActive="selected">Signup</a><br />
    <a routerLink="/sobre" routerLinkActive="selected">Sobre</a><br />
    <a routerLink="/home" routerLinkActive="selected">Home</a><br />
    <a routerLink="/contato" routerLinkActive="selected">Contatos</a><br />
  </div>
</main>

<section class="welcome">
  <div class="title mt-5 text-center">
    <h1 class="title-text">PÁGINA PARA DESLOGAR!</h1>
  </div>
</section>

<app-footer></app-footer>
