<app-header></app-header>
<main role="main" class="container links">
  <div class="container d-flex">
    <a routerLink="/login" routerLinkActive="selected">Login</a><br />
    <a routerLink="/signup" routerLinkActive="selected">Signup</a><br />
    <a routerLink="/sobre" routerLinkActive="selected">Sobre</a><br />
    <a routerLink="/home" routerLinkActive="selected">Home</a><br />
    <a routerLink="/contato" routerLinkActive="selected">Contatos</a><br />
  </div>
</main>
<div class="col-md-6 offset-md-3 mt-5">
  <div class="alert alert-info">
      Username: test<br />
      Password: test
  </div>
  <div class="card">
      <h4 class="card-header">Angular 9 Basic Authentication Example</h4>
      <div class="card-body">
          <form>
              <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" formControlName="username" class="form-control"  />

              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" formControlName="password" class="form-control"  />

              </div>
              <button class="btn btn-primary">
                  <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                  <span class=""></span>
                  Login
              </button>
              <div class="alert alert-danger mt-3 mb-0"></div>
          </form>
      </div>
  </div>
</div>

<app-footer></app-footer>
